.page-title-box {
  padding: 18px 0;
}



.btn-group {
  position: relative;

  margin-right: 15px;
}

.page-title-box .page-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  line-height: 18px;
}

.card {
  border: none;
  /* box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05); */

}

.m-b-30 {
  margin-bottom: 30px;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 25px;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.round {
  line-height: 60px;
  color: #5b6be8;
  width: 60px;
  height: 60px;
  font-size: 26px;
  display: inline-block;
  font-weight: 400;
  border: 3px solid #ecf5ff;
  text-align: center;
  border-radius: 50%;
  background: #a0cfff;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 8px;
}

.m-l-10 {
  margin-left: 10px;
  text-align: center;
}

.round-inner,
.text-lightdark {
  color: #444444;
}

.text-muted {
  color: #707070 !important;
}
.el-col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.chartsbox {
  display: flex;
}